.container_home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container_home,
h3 {
  margin-bottom: 10% !important;
}

.home_button {
  margin-top: 20%;
  background-color: #f06966 !important;
  border-color: #f06966 !important;
}
