@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  color: #656565 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  background-color: #fff;
  text-align: center;
}
